<div class="container main-container">
    <h3>Interpolação</h3>   
    <h2>O número de cliques é {{ contadorClique }}</h2>
    <br>
    <br>
    <br>
    <h3>Property Binding</h3>
    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </a>
    <button class="btn btn-info" [disabled]="contadorClique > 10" data-toggle="modal" data-target="#exampleModal">Info</button>
    <br>
    <br>
    <br>
    <img [src]="urlImagem" height="50px" width="50px">
    <br />
    <br />
    <br />
    <h3>Event Binding</h3>
    <button class="btn btn-warning"  (click)='adicionarClique()'>Clique-me</button>
    <br />
    <button class="btn btn-danger"  id="espaco-botao" [disabled]="contadorClique < 11" (click)='zerarContador()'>Zerar Contador</button>
    <br />
    <br />
    <br />
    <h3>Two-way Binding</h3>
   <!-- <input type="text" (keyup)='KeyUp($event)' placeholder="Digite seu nome"> -->
   <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
    <br>
    <br>
    <label class="{{ nome }}">Seu nome é: {{ nome }}</label>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Parabéns, você alcançou {{ contadorClique }} cliques !</p>
            </div>
            <div class="modal-footer">              
              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</div>>