<div class="container main-container">
   <div class="row text-center">
        <div  *ngFor="let servico of servicos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content: center;">
                        <img src="/assets/images/{{servico.img}}" height="164px" width="253" alt="Teste">
                    </div>
                </a>
               <span>
                    <button class="btn btn-info" [routerLink]="['/servico-detalhe', servico.id]">Detalhes</button>
                </span>            
                <div class="card-body">
                    <h4 class="card-title">{{ servico.name }}</h4>
                    <p>Por apenas:</p>
                    <div><h4>{{ servico.price | currency }}</h4></div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary">
                        <span class="fa fa-shopping-cart">Comprar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>